<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
      <h4 class="card-title">Tratamentos</h4>
    </div>
  </div>
  <div class="card-body">
    <% if @treatments.any? %>
      <table class="table table-hover table-respoonsive">
        <thead>
          <tr>
            <% if current_user.admin? %>
              <th>Usuário</th>
            <% end %>
            <th>Título</th>
            <th>Data</th>
            <th>Local</th>
            <th>Tipo</th>
            <th>Tags</th>
            <th class="text-right">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @treatments.each do |treatment| %>
            <tr>
              <% if current_user.admin? %>
                <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>"><%= treatment.user.email %></td>
              <% end %>
              <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>"><%= treatment.title %></a></td>
              <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>"><%= date_format treatment.date %></td>
              <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>"><%= treatment.local %></td>
              <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>"><%= treatment.kind.capitalize %></td>
              <td class="linkable cursor-pointer" data-url="<%= treatment_path(treatment.id) %>">
                <%= treatment.tags.pluck(:content).to_sentence %>
              </td>
              <td class="td-actions text-right">
                <%= link_to edit_treatment_path(treatment), class: "btn btn-success", title: "Editar" do %>
                  <i class="material-icons">edit</i>
                <% end %>
                <%= link_to treatment, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, title: "Excluir", class: "btn btn-danger" do %>
                  <i class="material-icons">close</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info mt-2">
        Nenhum tratamento cadastrado.
      </div>
    <% end %>
  </div>
</div>

<%= link_to new_treatment_path, class: "btn btn-primary btn-just-icon btn-action-add btn-round btn-lg", title: "Novo tratamento" do %>
  <i class="material-icons">add</i>
<% end %>

<%= render 'layouts/modal', modal_title: "Tratamentos" %>
