<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">medical_services</i>
      <span class="text-hedar">Tratamento</span>
    </div>

    <div class="card-text float-right rounded-30 p-2">
      <%= link_to treatments_path, class: "text-white", title: "Voltar" do %>
        <i class="material-icons">keyboard_backspace</i>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @treatment.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= @treatment.kind %></h6>
    <p class="card-text"><%= @treatment.description %></p>
    <p class="card-text">Anexos: </p>

    <% if @treatment.files.any? %>
      <% @treatment.files.each do |file| %>
      <%= link_to file.filename, url_for(file), class: "card-link" %>
      <% end %>
    <% else %>
        <p class="card-text italic">Não há arquivos para este tratamento</p>
    <% end %>
  </div>

  <div class="card-footer">
    <div class="stats">
      <i class="material-icons font-icon">access_time</i>
      <%= @treatment.date.strftime("%d/%m/%Y - %H:%M") %>
    </div>
    <div class="stats">
      <i class="material-icons font-icon">location_on</i>
      <%= @treatment.local %>
    </div>
  </div>
</div>
