<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @treatment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @treatment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @treatment.date %>
</p>

<p>
  <strong>Local:</strong>
  <%= @treatment.local %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @treatment.kind %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @treatment.appointment_id %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
