<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
      <h4 class="card-title">Usuários</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="card-stats">
      <div class="stats ml-auto">
        <%= link_to new_user_path, class: "btn btn-primary btn-just-icon", title: "Novo usuário" do %>
          <i class="material-icons">add</i>
        <% end %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Papel</th>
          <th>Email</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.role %></td>
            <td><%= user.email %></td>
            <td class="td-actions text-right">
              <%= link_to edit_user_path(user), class: "btn btn-success", title: "Editar" do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, title: "Excluir", class: "btn btn-danger" do %>
                <i class="material-icons">close</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
