<%= javascript_include_tag "form.js" %>

<%= form_with(model: tag, local: true) do |form| %>
  <%= display_flash_messages_object(@tag) %>
  <div class="card-body">
    <div class="form-group">
      <%= form.text_field :content, placeholder: "Título", class: "form-control" %>
    </div>
    <%= form.submit class: "btn btn-primary float-right mr-3 my-4" %>
  </div>
<% end %>
