<div class="card">
  <div class="card-header card-header-text card-header-primary">
    <div class="card-text">
      <h4 class="card-title">Tags</h4>
    </div>
  </div>
  <div class="card-body">
    <% if @tags.any? %>
      <table class="table table-hover table-respoonsive">
        <thead>
          <tr>
            <th>Título</th>
          </tr>
        </thead>
        <tbody>
          <% @tags.each do |tag| %>
            <tr>
              <td class="linkable cursor-pointer" data-url="<%= tag_path(tag.id) %>"><%= tag.content %></a></td>
              <td class="td-actions text-right">
                <%= link_to edit_tag_path(tag), class: "btn btn-success", title: "Editar" do %>
                  <i class="material-icons">edit</i>
                <% end %>
                <%= link_to tag, method: :delete, data: { confirm: 'Deseja realmente excluir?' }, title: "Excluir", class: "btn btn-danger" do %>
                  <i class="material-icons">close</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-info mt-2">
        Nenhuma tag cadastrada.
      </div>
    <% end %>
  </div>
</div>

<%= link_to new_tag_path, class: "btn btn-primary btn-just-icon btn-action-add btn-round btn-lg", title: "Nova tag" do %>
  <i class="material-icons">add</i>
<% end %>
