<div class="card">
  <div class="card-header card-header-icon card-header-primary">
    <div class="card-icon">
      <i class="material-icons">content_paste</i>
      <span class="text-hedar">Exame</span>
    </div>

    <div class="card-text float-right rounded-30 p-2">
      <%= link_to exams_path, class: "text-white", title: "Voltar" do %>
        <i class="material-icons">keyboard_backspace</i>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @exam.title %></h4>
    <p class="card-text"><%= @exam.description %></p>
    <h4 class="card-title">Tags:</h4>
    <% @exam.tags.each do |tag| %>
      <p class="card-text"><%= tag.content %></p>
    <% end %>
    <p class="card-text">Anexos: </p>
    <% if @exam.files.any? %>
      <% @exam.files.each do |file| %>
      <%= link_to file.filename, url_for(file), class: "card-link" %>
      <% end %>
    <% else %>
        <p class="card-text italic">Não há arquivos para este exame</p>
    <% end %>
  </div>

  <div class="card-footer">
    <div class="stats">
      <i class="material-icons font-icon">access_time</i>
      <%= @exam.exam_date.strftime("%d/%m/%Y - %H:%M") %>
    </div>
    <div class="stats">
      <i class="material-icons font-icon">location_on</i>
      <%= @exam.place %>
    </div>
  </div>
</div>
