<div class="sidebar sidebar-lateral-left" id="sidebar-lateral">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="material-icons">history_edu</i>
          <% if current_user.admin? %>
            <p>Históricos</p>
          <% else %>
            <p>Meu histórico</p>
          <% end %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= shareds_path %>">
          <i class="material-icons">share</i>
          <p>Históricos compartilhados</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= exams_path %>">
          <i class="material-icons">content_paste</i>
          <p>Exames</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= treatments_path %>">
          <i class="material-icons">medical_services</i>
          <p>Tratamentos</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= appointments_path %>">
          <i class="material-icons">local_library</i>
          <p>Consultas</p>
        </a>
      </li>


      <% if current_user.admin? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= tags_path %>">
            <i class="material-icons">check</i>
            <p>Criar tags</p>
          </a>
        </li>
      <% end %>

    </ul>
  </div>
</div>
