<!DOCTYPE html>
<html>
  <head>
    <title>myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/sidebar_lateral' %>
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
      <div class="container-fluid">
        <div class="btn btn-primary btn-just-icon btn-round btn-lg toggle-menu">
          <i class="material-icons">menu</i>
        </div>
        <a class="navbar-brand" href="<%= root_path %>">Health History</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <form class="form-inline ml-auto has-white">
              <div class="form-group no-border bmd-form-group">
                <input type="text" class="form-control" placeholder="Pesquisar consultas">
              </div>
              <button type="submit" class="btn btn-neutral btn-icon btn-round btn-primary">
                <i class="material-icons">search</i>
              </button>
            </form>
            <li class="nav-item dropdown">
              <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" title="<%= current_user.email.split("@")[0] %>" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                <a class="dropdown-item" href="#">Perfil</a>
                <div class="dropdown-divider"></div>
                <%= link_to('Sair', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container padding-top-6">
      <%= display_flash_messages %>
      <%= yield %>
      <%= yield :javascript_includes %>
    </div>
  </body>
</html>
